[Unit]
Description=Schedule J-UI SSL certificate renewal

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=30min
Persistent=true
Unit=j-ui-certificate-renew.service

[Install]
WantedBy=timers.target
